html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

li {
	list-style: none;
}

li:hover {
	cursor: pointer;
	background-color: #d9d9d9;
	font-weight: 800;
}

#placesList {
	position: fixed;
	display: block;
	float: left;
	overflow: auto;
	top: 50px;
	left: 15px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #000;
	width: 250px;
}

#placesList li {
	margin-left: -30px;
	padding-right: 20px;
	padding-bottom: 10px;
}

#search-bar {
	margin-left: 25px;
	margin-top: 8px;
}

#map {
	height: 100%;
	width: 100%;
}

#legend {
	background: #fff;
	padding: 10px;
	margin: 10px;
	border: 1px solid #000;
}

